<a href="https://colab.research.google.com/github/BrendaChepkoech/Informatics-Technical-assesment/blob/main/Savannah_Informatics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Savannah Informatics Technical assesment

### PREREQUISITES 

You have been provided with the following healthcare based data to use in your assessment.

- A SQLite database dump that contains tables on annual outpatient charges from the year 2011 to 2013.The table names are suffixed with their corresponding years

- JSON files containing annual inpatient charges from the year 2011 to 2013.The table names are suffixed with their corresponding years.

- A csv file containing general provider information.
(Not Provided) Access to ICD10  API - access token gotten by registering at (Home Page ICD API (who.int))

- In order to work with the data, enrich the provided datasets with related tables and files wherever necessary.Use the ONLY the provided tables, files and links.

After enriching the data, you are required to give an analysis on:

1. Average outpatient(inclusive of copayments) and inpatient medicare payments ranked per provider for each year of available data.
2. Time series analysis on the average charge on different APC services per provider over the three years
3. Geographical analysis by state on affordable providers that offer emergency charges
4. Analyze the top 10 prominent inpatient ICD10 diagnosis based on state using their ICD10 Chapter and Block Descriptions

In [ ]:
#Importing libraries
import pandas as pd
import numpy as np
import sqlite3
import json

In [ ]:
# loading in modules
import sqlite3

# creating file path
dbfile = "/content/outpatient_charges.db"
# Create a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)

# creating cursor
cur = con.cursor()

# reading all table names
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
# here is you table list
print(table_list)

# Be sure to close the connection
con.close()

[('outpatient_charges_2011',), ('outpatient_charges_2012',), ('outpatient_charges_2013',)]

In [ ]:
# Read outpatient database 
#We first connect to the database
con = sqlite3.connect("outpatient_charges.db")

#Then Read the tables in the database
outpatient_2011 = pd.read_sql_query("SELECT * from outpatient_charges_2011", con)
outpatient_2012 = pd.read_sql_query("SELECT * from outpatient_charges_2012", con)
outpatient_2013 = pd.read_sql_query("SELECT * from outpatient_charges_2013", con)
# Be sure to close the connection
con.close()

In [ ]:
#previewing the datasets
#previewing the head of outpatient 2011
outpatient_2011.head(5)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,outpatient_services,average_estimated_submitted_charges,average_total_payments
0,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0013 - Level II Debridement & Destruction,31,327.515806,49.889032
1,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0015 - Level III Debridement & Destruction,936,299.867992,104.416068
2,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0020 - Level II Excision/ Biopsy,14,5409.921429,527.096429
3,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0078 - Level III Pulmonary Treatment,48,566.275833,101.360000
4,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0096 - Level II Noninvasive Physiologic Studies,68,767.822059,107.335294

In [ ]:
outpatient_2011['Year']= 2011
#.insert(0, 'Year', [2011], True)
outpatient_2011.head(5)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,outpatient_services,average_estimated_submitted_charges,average_total_payments,Year
0,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0013 - Level II Debridement & Destruction,31,327.515806,49.889032,2011
1,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0015 - Level III Debridement & Destruction,936,299.867992,104.416068,2011
2,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0020 - Level II Excision/ Biopsy,14,5409.921429,527.096429,2011
3,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0078 - Level III Pulmonary Treatment,48,566.275833,101.360000,2011
4,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0096 - Level II Noninvasive Physiologic Studies,68,767.822059,107.335294,2011

In [ ]:
#previewing the head of outpatient 2012
outpatient_2012.head(5)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,outpatient_services,average_estimated_submitted_charges,average_total_payments
0,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0013 - Level II Debridement & Destruction,37,324.739730,52.120270
1,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0015 - Level III Debridement & Destruction,936,301.517350,98.425032
2,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0020 - Level II Excision/ Biopsy,12,3963.837500,567.880000
3,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0078 - Level III Pulmonary Treatment,155,597.554839,96.136387
4,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0096 - Level II Noninvasive Physiologic Studies,84,663.985714,103.934881

In [ ]:
outpatient_2012['Year']= 2012
outpatient_2012.head(5)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,outpatient_services,average_estimated_submitted_charges,average_total_payments,Year
0,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0013 - Level II Debridement & Destruction,37,324.739730,52.120270,2012
1,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0015 - Level III Debridement & Destruction,936,301.517350,98.425032,2012
2,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0020 - Level II Excision/ Biopsy,12,3963.837500,567.880000,2012
3,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0078 - Level III Pulmonary Treatment,155,597.554839,96.136387,2012
4,30036,CHANDLER REGIONAL MEDICAL CENTER,475 SOUTH DOBSON ROAD,CHANDLER,AZ,85224,0096 - Level II Noninvasive Physiologic Studies,84,663.985714,103.934881,2012

In [ ]:
#previewing the head of outpatient 2013
outpatient_2013.head(5)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,outpatient_services,average_estimated_submitted_charges,average_total_payments
0,20001,PROVIDENCE ALASKA MEDICAL CENTER,BOX 196604,ANCHORAGE,AK,99519,0013 - Level II Debridement & Destruction,145,261.757931,80.738966
1,20001,PROVIDENCE ALASKA MEDICAL CENTER,BOX 196604,ANCHORAGE,AK,99519,0015 - Level III Debridement & Destruction,341,289.237126,121.001730
2,20001,PROVIDENCE ALASKA MEDICAL CENTER,BOX 196604,ANCHORAGE,AK,99519,0078 - Level III Pulmonary Treatment,269,892.490706,113.087695
3,20001,PROVIDENCE ALASKA MEDICAL CENTER,BOX 196604,ANCHORAGE,AK,99519,0096 - Level II Noninvasive Physiologic Studies,13,837.692308,125.223846
4,20001,PROVIDENCE ALASKA MEDICAL CENTER,BOX 196604,ANCHORAGE,AK,99519,0204 - Level I Nerve Injections,12,1503.148333,209.373333

In [ ]:
outpatient_2013['Year']= 2013
outpatient_2013.head(5)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,apc,outpatient_services,average_estimated_submitted_charges,average_total_payments,Year
0,20001,PROVIDENCE ALASKA MEDICAL CENTER,BOX 196604,ANCHORAGE,AK,99519,0013 - Level II Debridement & Destruction,145,261.757931,80.738966,2013
1,20001,PROVIDENCE ALASKA MEDICAL CENTER,BOX 196604,ANCHORAGE,AK,99519,0015 - Level III Debridement & Destruction,341,289.237126,121.001730,2013
2,20001,PROVIDENCE ALASKA MEDICAL CENTER,BOX 196604,ANCHORAGE,AK,99519,0078 - Level III Pulmonary Treatment,269,892.490706,113.087695,2013
3,20001,PROVIDENCE ALASKA MEDICAL CENTER,BOX 196604,ANCHORAGE,AK,99519,0096 - Level II Noninvasive Physiologic Studies,13,837.692308,125.223846,2013
4,20001,PROVIDENCE ALASKA MEDICAL CENTER,BOX 196604,ANCHORAGE,AK,99519,0204 - Level I Nerve Injections,12,1503.148333,209.373333,2013

In [ ]:
#Checking the shapes of the outpatient dataset
print('The shape for outpatient_2011',  outpatient_2011.shape)
print('The shape for outpatient_2012',  outpatient_2012.shape)
print('The shape for outpatient_2013',  outpatient_2013.shape)

The shape for outpatient_2011 (43372, 11)
The shape for outpatient_2012 (43783, 11)
The shape for outpatient_2013 (44355, 11)

In [ ]:
#merging the outpatient datasets
Outpatient_merged= pd.concat([outpatient_2011, outpatient_2012,outpatient_2013])

In [ ]:
#Outpatient_merged['Year']= pd.to_datetime(Outpatient_merged['Year'])

In [ ]:
#checking the shape of the merged dataset
Outpatient_merged.shape

(131510, 11)

In [ ]:
#loading the jason files
inpatient_2011=pd.read_json('/content/inpatient_2011.json')
inpatient_2012=pd.read_json('/content/inpatient_2012.json')
inpatient_2013=pd.read_json('/content/inpatient_2013.json')

In [ ]:
inpatient_2011['Year']= 2011
inpatient_2011.head(5)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,icd_category,Year
0,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,15,2459.400000,2901.266667,2075.400000,G81,2011
1,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,35,2749.942857,4784.514286,4018.542857,T79,2011
2,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,12,3133.583333,3579.583333,2738.583333,I02,2011
3,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,18,3282.277778,3790.166667,3214.222222,D18,2011
4,370171,W W HASTINGS INDIAN HOSPITAL,100 S BLISS AVENUE,TAHLEQUAH,OK,74464,OK - Tulsa,11,3534.000000,6441.000000,5520.636364,P12,2011

In [ ]:
inpatient_2012['Year']= 2012
inpatient_2012.head(5)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,icd_category,Year
0,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,12,2516.250000,4253.083333,3773.416667,D22,2012
1,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,12,2903.250000,2838.000000,2260.000000,G81,2012
2,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,22,2987.681818,4831.272727,4098.909091,T79,2012
3,370178,MEMORIAL HOSPITAL OF STILWELL,1401 WEST LOCUST,STILWELL,OK,74960,OK - Tulsa,19,3440.263158,4058.105263,3273.473684,B95,2012
4,370178,MEMORIAL HOSPITAL OF STILWELL,1401 WEST LOCUST,STILWELL,OK,74960,OK - Tulsa,13,3718.461538,5402.384615,4783.615385,D29,2012

In [ ]:
inpatient_2013['Year']= 2013
inpatient_2013.head(5)

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zipcode,hospital_referral_region_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments,icd_category,Year
0,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,12,2618.166667,2986.750000,2007.083333,G81,2013
1,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,12,3136.666667,3754.833333,2871.500000,J02,2013
2,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,11,3215.000000,3685.454545,2939.636364,D28,2013
3,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,26,3240.269231,4103.500000,3264.269231,D31,2013
4,450270,LAKE WHITNEY MEDICAL CENTER,200 N SAN JACINTO STREET,WHITNEY,TX,76692,TX - Waco,14,3678.928571,3825.357143,3068.214286,D18,2013

In [ ]:
#Checking the shapes of the inpatient dataset
print('The shape for inpatient_2011',  inpatient_2011.shape)
print('The shape for inpatient_2012',  inpatient_2012.shape)
print('The shape for inpatient_2013',  inpatient_2013.shape)

The shape for inpatient_2011 (10000, 13)
The shape for inpatient_2012 (10000, 13)
The shape for inpatient_2013 (10000, 13)

In [ ]:
#merging the 3 sson files
inpatient_merged= pd.concat([inpatient_2011, inpatient_2012,inpatient_2013])

In [ ]:
#inpatient_merged['Year']= pd.to_datetime(inpatient_merged['Year'])

In [ ]:
#Checking the shape of the merged datasets
inpatient_merged.shape

(30000, 13)

In [ ]:
#Loading and preiviewing the hospital gen info csv file
hosp_gen_info = pd. read_csv ('/content/hospital_general_info.csv')
hosp_gen_info.head(5)

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,hospital_type,hospital_ownership,...,readmission_measures_better_count,readmission_measures_no_different_count,readmission_measures_worse_count,readmission_measures_footnote,patient_experience_measures_count,facility_patient_experience_measures_count,patient_experience_measures_footnote,timely_and_effective_care_measures_count,facility_timely_and_effective_care_measures_count,timely_and_effective_care_measures_footnote
0,010018,CALLAHAN EYE HOSPITAL,"1720 UNIVERSITY BLVD, SUITE 500",BIRMINGHAM,AL,35233,Jefferson,(205) 325-8100,Acute Care Hospitals,Voluntary non-profit - Private,...,0,1,0,NaN,8,Not Available,5.0,14,3,NaN
1,010051,GREENE COUNTY HOSPITAL,509 WILSON AVENUE,EUTAW,AL,35462,Greene,(205) 372-3388,Acute Care Hospitals,Government - Local,...,0,1,0,NaN,8,Not Available,5.0,14,3,NaN
2,010102,J PAUL JONES HOSPITAL,317 MCWILLIAMS AVENUE,CAMDEN,AL,36726,Wilcox,(334) 682-4131,Acute Care Hospitals,Voluntary non-profit - Other,...,0,1,0,NaN,8,Not Available,5.0,14,3,NaN
3,030074,SELLS HOSPITAL,"HIGHWAY 86, AT TOPAWA ROAD",SELLS,AZ,85634,Pima,(520) 362-7003,Acute Care Hospitals,Tribal,...,0,1,0,NaN,8,Not Available,5.0,14,Not Available,5.0
4,030136,DIGNITY HEALTH - ARIZONA GENERAL HOSPITAL,7171 SOUTH 51ST AVENUE,LAVEEN,AZ,85339,Maricopa,(623) 584-5100,Acute Care Hospitals,Proprietary,...,0,1,0,NaN,8,Not Available,5.0,14,9,NaN

In [ ]:
#checking the shape of the hospital gen info csv file
hosp_gen_info.shape

(5336, 38)

In [ ]:
#Loading and preiviewing the hospital gen info xlsx file
hosp_gen_info2 = pd. read_excel ('/content/hospital_general_info.xlsx')
hosp_gen_info2.head(5)

,emergency_services ='TRUE',hospital_name,address,city,state,zip_code,county_name,phone_number,hospital_type,hospital_ownership,...,readmission_measures_better_count,readmission_measures_no_different_count,readmission_measures_worse_count,readmission_measures_footnote,patient_experience_measures_count,facility_patient_experience_measures_count,patient_experience_measures_footnote,timely_and_effective_care_measures_count,facility_timely_and_effective_care_measures_count,timely_and_effective_care_measures_footnote
0,10018.0,CALLAHAN EYE HOSPITAL,"1720 UNIVERSITY BLVD, SUITE 500",BIRMINGHAM,AL,35233.0,Jefferson,(205) 325-8100,Acute Care Hospitals,Voluntary non-profit - Private,...,0.0,1.0,0.0,NaN,8.0,Not Available,5.0,14.0,3.0,NaN
1,10051.0,GREENE COUNTY HOSPITAL,509 WILSON AVENUE,EUTAW,AL,35462.0,Greene,(205) 372-3388,Acute Care Hospitals,Government - Local,...,0.0,1.0,0.0,NaN,8.0,Not Available,5.0,14.0,3.0,NaN
2,10102.0,J PAUL JONES HOSPITAL,317 MCWILLIAMS AVENUE,CAMDEN,AL,36726.0,Wilcox,(334) 682-4131,Acute Care Hospitals,Voluntary non-profit - Other,...,0.0,1.0,0.0,NaN,8.0,Not Available,5.0,14.0,3.0,NaN
3,30074.0,SELLS HOSPITAL,"HIGHWAY 86, AT TOPAWA ROAD",SELLS,AZ,85634.0,Pima,(520) 362-7003,Acute Care Hospitals,Tribal,...,0.0,1.0,0.0,NaN,8.0,Not Available,5.0,14.0,Not Available,5.0
4,30136.0,DIGNITY HEALTH - ARIZONA GENERAL HOSPITAL,7171 SOUTH 51ST AVENUE,LAVEEN,AZ,85339.0,Maricopa,(623) 584-5100,Acute Care Hospitals,Proprietary,...,0.0,1.0,0.0,NaN,8.0,Not Available,5.0,14.0,9.0,NaN

In [ ]:
#checking the shape of the hospital gen info xlsx file
hosp_gen_info2.shape

(5336, 38)

In [ ]:
#checking the column names
hosp_gen_info2.columns

Index(['emergency_services ='TRUE'', 'hospital_name', 'address', 'city',
       'state', 'zip_code', 'county_name', 'phone_number', 'hospital_type',
       'hospital_ownership', 'emergency_services ='TRUE'.1',
       'meets_criteria_for_promoting_interoperability_of_ehrs',
       'hospital_overall_rating', 'hospital_overall_rating_footnote',
       'mortality_group_measure_count', 'facility_mortaility_measures_count',
       'mortality_measures_better_count',
       'mortality_measures_no_different_count',
       'mortality_measures_worse_count', 'mortaility_group_footnote',
       'safety_measures_count', 'facility_care_safety_measures_count',
       'safety_measures_better_count', 'safety_measures_no_different_count',
       'safety_measures_worse_count', 'safety_group_footnote',
       'readmission_measures_count', 'facility_readmission_measures_count',
       'readmission_measures_better_count',
       'readmission_measures_no_different_count',
       'readmission_measures_worse_count', 'readmission_measures_footnote',
       'patient_experience_measures_count',
       'facility_patient_experience_measures_count',
       'patient_experience_measures_footnote',
       'timely_and_effective_care_measures_count',
       'facility_timely_and_effective_care_measures_count',
       'timely_and_effective_care_measures_footnote'],
      dtype='object')

In [ ]:
#checking the column names of the hospital gen info csv file
hosp_gen_info.columns

Index(['provider_id', 'hospital_name', 'address', 'city', 'state', 'zip_code',
       'county_name', 'phone_number', 'hospital_type', 'hospital_ownership',
       'emergency_services',
       'meets_criteria_for_promoting_interoperability_of_ehrs',
       'hospital_overall_rating', 'hospital_overall_rating_footnote',
       'mortality_group_measure_count', 'facility_mortaility_measures_count',
       'mortality_measures_better_count',
       'mortality_measures_no_different_count',
       'mortality_measures_worse_count', 'mortaility_group_footnote',
       'safety_measures_count', 'facility_care_safety_measures_count',
       'safety_measures_better_count', 'safety_measures_no_different_count',
       'safety_measures_worse_count', 'safety_group_footnote',
       'readmission_measures_count', 'facility_readmission_measures_count',
       'readmission_measures_better_count',
       'readmission_measures_no_different_count',
       'readmission_measures_worse_count', 'readmission_measures_footnote',
       'patient_experience_measures_count',
       'facility_patient_experience_measures_count',
       'patient_experience_measures_footnote',
       'timely_and_effective_care_measures_count',
       'facility_timely_and_effective_care_measures_count',
       'timely_and_effective_care_measures_footnote'],
      dtype='object')

Data Cleaning

In [ ]:
#checking for duplicates
Outpatient_merged.duplicated().sum()

0

In [ ]:
#Checking for null values
Outpatient_merged.isnull().sum().sum()

0

In [ ]:

#checking for duplicates
inpatient_merged.duplicated().sum()

0

In [ ]:
#Checking for null values
inpatient_merged.isnull().sum().sum()

0

In [ ]:
#Exporting the cleaned dataset.

Outpatient_merged.to_csv('Outpatient_merged.csv')
inpatient_merged.to_csv('Inpatient_merged.csv')
hosp_gen_info.to_csv('hosp_gen_info.csv')

All the datasets do not have duplicates, null values and hence, do not require any cleaning